//COLORS

$color-container: #fe9801;
$color-font: #ffffff;
//COLORS LIGHT

$color-footer: #2a2a2a;
$color-secondary: #fee8cd;
$color-blue: #002860;
//ALT PAGE COLOR
$color-page: #29d4af;
$color-header: #ffffff;
