//COLORS
//$color-page: #d7c79e; 
//$color-header: #9dab86; 
//$color-footer: #2a2a2a;
$color-container: #fe9801;  
$color-font: #FFFFFF;
//COLORS LIGHT
//$color-page: #e5d8bf; 
//$color-header: #94aa2a; 
$color-footer: #2a2a2a; 
$color-secondary: #e08f62; 
//ALT PAGE COLOR
$color-page: #f4eec7; 
$color-header: #697c37; 

 