.header {
  //  background-color: $color-header;
  //  position: relative;
  height: auto;
  //  padding: 2rem;
  //  text-align: left;
  //  color: white;
  //  border-bottom: 2.5px solid black;
  //  font-family: $title-font;

  /* h1 {         font-size: 8rem;
         padding-top: 2rem;
     } */
}

.header_container {
  h1 {
    font-size: 3.5rem;
  }
  p,
  a {
    margin-top: 3.5rem;
    font-size: 2rem;
    font-family: $container-font;
    color: $color-blue;
    padding: 0rem 4rem;
  }

  background-color: $color-header;
  height: 9rem;
}

.toolbar {
  margin-left: 6rem;
}

.anchor,
a:hover {
  margin-top: 3.5rem;
  text-decoration: none;
}

.underline {
  border-bottom: 0.2rem solid $color-blue;
  padding-bottom: 1rem;
}
