<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <script src="\client.js"></script>
    <title>Pathfinder</title>
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <header class="header">
          <div id="container" class="header_container d-flex">
            <div class="logo"></div>
            <div class="toolbar d-flex">
              <div>
                <p><span class="underline">photos</span></p>
              </div>
              <div class="anchor"><a href="/">search</a></div>
            </div>
          </div>
        </header>
        <main>
          <div class="container-results">
            <div class="image-contain">
              <img
                src="<%= trailData[5] %>"
                onerror="this.onerror=null;this.src='noPhoto.jpg';"
                alt="Trail Picture"
                class="img-fluid"
              />
            </div>
            <div class="search-results">
              <div class="city-rating">
                <p><%= trailData[4] %></p>
                <div class="stars-outer">
                  <div class="stars-inner"></div>
                  <span class="number-rating"><%= trailData[3] %></span>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <footer id="footer"></footer>
    </div>
  </body>
</html>
