@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Paytone+One&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

#page-container {
  position: relative;
  background: #f4eec7;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 10rem;
}

.search-button {
  margin: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #fe9801;
}
.search-button:focus, .search-button:hover {
  background-color: #ffbe5d;
}
.search-button:active {
  background-color: #ffdca2;
  transform: translate(-0.1rem, 0.1rem);
}

.trail-summary {
  text-transform: uppercase;
  font-weight: bold;
}

.trail-detail {
  margin: 1.6rem 1rem;
}

.trail-summaryCompare {
  border-radius: 1rem;
  height: 20%;
  width: 20%;
}

.forecast-summary {
  margin: 1rem;
  font-size: 1.2rem;
}

.forecast-content {
  margin: 1.6rem 1rem;
}

.forecast-temperature {
  margin-right: 2rem;
}
.forecast-temperature h2 {
  font-size: 2rem;
}
.forecast-temperature p {
  font-size: 2rem;
}

.anchor-home {
  padding: 4rem;
}

.anchor-home a {
  color: #697c37;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

.image-main {
  max-width: 100%;
  height: auto;
}

.image-search {
  border: 0.2rem solid black;
}

.image-contain {
  margin: 0rem 1rem 1.5rem;
}

#picture-summary {
  font-size: 1.2rem;
}

#right-half {
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100vh;
  object-fit: cover;
  box-shadow: -6px 8px 5px rgba(0, 0, 0, 0.377);
}

#left-half {
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100vh;
  object-fit: cover;
}

#trail-picture {
  border: 1px solid black;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

.search {
  top: 20rem;
  padding: 1rem;
  background-color: #697c37;
  box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.377);
  border: 0.4rem solid black;
  color: #FFFFFF;
  border-radius: 0.75rem;
  font-family: "Cutive Mono", monospace;
  font-size: 1.4rem;
  font-weight: bold;
}
.search h2 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.search p, .search label {
  font-size: 1.5rem;
}

.zip-row {
  margin: 1rem;
}
.zip-row #inputZip, .zip-row #inputDistance {
  font-size: 1.5rem;
  height: 100%;
}

.search-results {
  background-color: #697c37;
  box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.377);
  border: 0.4rem solid black;
  margin: 3rem;
  color: #FFFFFF;
  border-radius: 0.75rem;
  font-family: "Cutive Mono", monospace;
  font-size: 1.4rem;
  font-weight: bold;
}
.search-results h1 {
  font-size: 3.5rem;
}

.search-info {
  background-color: #e08f62;
  border-radius: 0.75rem;
  box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.377);
  border: black solid 0.25rem;
  font-family: "Cutive Mono", monospace;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #2a2a2a;
}

.header {
  background-color: #697c37;
  position: relative;
  height: 4rem;
  padding: 2rem;
  text-align: left;
  color: white;
  border-bottom: 2.5px solid black;
  font-family: "Paytone One", sans-serif;
  /* h1 {         font-size: 8rem;
      padding-top: 2rem;
  } */
}

.header_container h1 {
  font-size: 3.5rem;
}

.home-container {
  padding: 1rem;
  margin: 3rem 2rem 2rem;
}

.home-content {
  background-color: cornflowerblue;
  color: #eeeeee;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 0.75rem;
  font-family: "Cutive Mono", monospace;
  border: 0.2rem solid black;
  box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.377);
}
.home-content h2 {
  font-weight: bold;
  font-size: 2.1rem;
}

h1 {
  font-weight: bold;
}

.container ul {
  list-style: none;
  font-size: 1.2rem;
}

/*# sourceMappingURL=index.css.map */
