.image-main {
  max-width: 100%;
  height: auto;
}

.image-search {
  //padding: 1.0rem;
  //object-fit: scale-down;
  border: 0.2rem solid black;
}

.image-contain {
  margin: 0rem 1rem 1.5rem;
}

#picture-summary {
  font-size: 1.2rem;
}

#trail-picture {
  border: 1px solid black;
}

.arrow {
  background-image: url("../img/arrow.png");
  display: block;
  width: 2.5rem;
  height: 5rem;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  background-image: url("../img/logo.png");
  width: 16.5rem;
  height: 7rem;
  padding: 1rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 8rem;
  margin-top: 3.5rem;
}
