.image-main {
  max-width: 100%;
  height: auto;
}

.image-search {
  //padding: 1.0rem;
  //object-fit: scale-down;
  border: 0.2rem solid black;
}

.image-contain {
  margin: 0rem 1rem 1.5rem;
}

#picture-summary {
  font-size: 1.2rem;
}

#trail-picture {
  border: 1px solid black;
}

.arrow {
  background-image: url("../img/arrow.png");
  width: 1rem;
  height: 1rem;
}
