//Search form
.search {
  margin-top: 42rem;
  padding: 1rem;

  color: #ffffff;
  border-radius: 0.75rem;
  font-family: $primary-font;
  font-size: 1.4rem;

  h2 {
    font-size: 3rem;

    font-weight: bold;
  }

  .margin-center {
    margin-right: 7rem;
  }

  p,
  label {
    font-size: 1.8rem;
    font-weight: bold;
  }

  select,
  input {
    background: transparent;
    border: 2px solid $color-font;
    color: $color-font;
  }
}

.zip-row {
  margin: 1rem;

  #inputZip,
  #inputDistance {
    font-size: 2rem;
    height: 100%;
  }

  ::placeholder {
    color: $color-font;
    opacity: 1;
    font-size: 2rem;
  }

  option {
    background-color: $color-blue;
  }
}

//Trail results page
.container-results {
  display: flex;
  height: max-content;
  min-height: 105vh;
  width: 100%;
}
.search-results {
  align-items: flex-end;
  height: auto;
  width: 32%;
  //box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.377);
  font-family: $container-font;
  font-size: 1.4rem;
  font-weight: bold;
  background: $color-secondary;
  color: $color-blue;
  padding: 3.5rem 6rem;

  h1 {
    font-size: 3.5rem;
  }
}

.search-info {
  background-color: $color-secondary;
  border-radius: 0.75rem;
  box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.377);
  border: black solid 0.25rem;
  font-family: "Cutive Mono", monospace;
}

.city-rating {
  p {
    font-family: $title-font;
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

.search-intro {
  position: relative;
  top: 1rem;
  h1 {
    font-size: 4.3rem;
    font-weight: 900;
    border-bottom: 10px solid $color-blue;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  p {
    position: relative;
    top: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
}

.search-summary {
  position: relative;
  top: 3rem;

  h1 {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 3.1rem;
    letter-spacing: 0.1rem;
    border-bottom: 5px solid #002860;
  }
  ul {
    position: relative;
    top: 0.8rem;

    list-style: none;
  }
}

.summary-detail {
  ul {
    column-count: 2;
  }
}

.detail-title {
  font-family: $primary-font;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.7rem;
}

.mileage {
  position: relative;
  left: 1rem;
  letter-spacing: 0.3rem;
}

.ascent {
  position: relative;
  left: 1.8rem;
  letter-spacing: 0.3rem;
}

.decent {
  position: relative;
  left: 1.1rem;
  letter-spacing: 0.3rem;
}

.high {
  position: relative;
  left: 1rem;
  letter-spacing: 0.3rem;
}

.low {
  position: relative;
  left: 2rem;
  letter-spacing: 0.3rem;
}

.summary {
  display: flex;
  position: relative;
  top: 1rem;
  justify-content: space-around;
  align-items: center;

  .trail-compare {
    width: 14%;
  }

  .trail-summary {
    width: 60%;
  }
}

.forecast {
  position: relative;
  top: 3rem;

  .temperature {
    position: relative;
    left: 1rem;
    letter-spacing: 0.3rem;
  }

  .detail {
    position: relative;
    left: 6.1rem;
    letter-spacing: 0.3rem;
  }

  .wind {
    position: relative;
    left: 8rem;
    letter-spacing: 0.3rem;
  }

  .forecast-summary {
    display: flex;
    justify-content: space-between;
  }
}
