//Search form
.search {
  //top: 44rem;
  margin-top: 42rem;
  padding: 1rem;
  //background-color: $color-header;
  //box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.377);
  //border: 0.4rem solid black;
  color: #ffffff;
  border-radius: 0.75rem;
  font-family: $primary-font;
  font-size: 1.4rem;
  //font-weight: bold;

  h2 {
    font-size: 3rem;
    //font-family: $primary-font;
    font-weight: bold;
    //text-transform: uppercase;
  }

  .margin-center {
    margin-right: 7rem;
  }

  p,
  label {
    font-size: 1.8rem;
    font-weight: bold;
  }

  select,
  input {
    background: transparent;
    border: 2px solid $color-font;
    color: $color-font;
  }
}

.zip-row {
  margin: 1rem;

  #inputZip,
  #inputDistance {
    font-size: 2rem;
    height: 100%;
  }

  ::placeholder {
    color: $color-font;
    opacity: 1;
    font-size: 2rem;
  }

  option {
    background-color: $color-blue;
  }
}

//Trail results page
.search-results {
  background-color: $color-header;
  box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.377);
  border: 0.4rem solid black;
  margin: 3rem;
  color: $color-font;
  border-radius: 0.75rem;
  font-family: $container-font;
  font-size: 1.4rem;
  font-weight: bold;

  h1 {
    font-size: 3.5rem;
    //font-weight: bold;
  }
}

.search-info {
  background-color: $color-secondary;
  border-radius: 0.75rem;
  box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.377);
  border: black solid 0.25rem;
  font-family: "Cutive Mono", monospace;
}
