*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

html {
    font-size: 62.5%; 
    
}

#page-container{
    position: relative;
    background: $color-page;
    min-height: 100vh;

   
}

#content-wrap{
    padding-bottom: 10rem;
}