*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

#page-container {
  position: relative;
  background: $color-secondary;
  min-height: 100vh;
}

#page-containerPrimary {
  position: relative;
  min-height: 100vh;
  background-image: url("../img/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-color: $color-secondary;
}

#content-wrap {
}
